{%extends "base.html"%}

{% block head_content %}

<title>VULCANAZE</title>
<body id="page-top">

{% endblock %}

{% block container %}

        <!-- Masthead-->
        <div class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-3 text-uppercase">Vulcanaze</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Use this software in order to minimize aeronautical risks due to volcanic ash</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#menu">Get Started</a>
                </div>
            </div>
        </dic>
        <div class="container-fluid text-center menu-section" id="menu">    
            <div class="row content">
              <div class="col-sm-4 sidenav">
                  <br>
                  <h3 class="text-white">LOAD SHAPEFILE</h3>
                  
                  <input type="file" name="shape" class="btn btn-primary btn-lg btn-block"></input>
                    
                  <br>
    
                  <br>
                  <h3 class="text-white">GET SHAPEFILE</h3>
                  <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.ready.noaa.gov/hyreg-bin/dispsrc.pl?category=Volcanic_ash" target="_blank">CLICK HERE!</a>
                  <br>
              </div>
              <div class="col-sm-8 text-left text-white"> 
                <h3>Welcome</h3>
                <p>A web application able to project within a map the dispersion of volcanic ash gotten from shapefile</p>
                <hr>
              </div>
            </div>
        </div>

{% endblock %}
