{% extends "base.html" %}

{% block head_content %}
<title>Sign-in</title>
{% endblock%}

{% block container %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">
                
                        <h4 class="mb-4">Log-in!</h4>


                        {% if error %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endif%}

                        <form method="POST" action="{% url "Webforms:login" %}" enctype="multipart/form-data">
                            {% csrf_token %}
                        
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Username" name="username" />
                            </div>
                        
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Password" name="password" />
                            </div>
                        
                        
                            <button class="btn btn-primary btn-block mt-5" type="submit">Sign in!</button>
                        
                        </form>
                        <p class="text-white">Don't you have an account yet? <a href="{% url "Webforms:signup" %}">Sign-up</a> </p>
            </div>
            
        </div>
    </div>

</header>


{% endblock %}